<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiledev.plentytoshare">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlentyToShare">

        <activity
            android:name=".activities.RestaurantProfile"
            android:parentActivityName=".activities.CharityOrderDetail"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.CharityOrderDetail"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.PostActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:parentActivityName=".activities.RestaurantPosting" />
        <activity
            android:name=".activities.CharitiesRegistrationActivity"
            android:parentActivityName=".activities.ChooseProfileTypeActivity"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.RestaurantPosting"
            android:exported="false"
            android:screenOrientation="sensor"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.DetailedOrder"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.ChooseProfileTypeActivity"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.RestaurantRegistrationActivity"
            android:parentActivityName=".activities.ChooseProfileTypeActivity"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".activities.CharityPostings"
            android:exported="false"
            android:screenOrientation="sensor"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>